.productAttributeTitle {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
  }
  
  .attributeButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center
  }

  .selectedContainer {
      border-bottom: 1px solid black;
      border-radius: 50%;
      height:20px;
      width:20px;
      margin-right: 10px;
  }
  
  .attributeValueColorContainer {
    margin-right: 5px;
    height:20px;
    width:20px;
    border-radius: 50%;
  }
  
  .attributeValueContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 43px;
    height: 30px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  
  .attributeSizeButtonText {
    font-family: Source Sans Pro;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    line-height: 18px;
  }
  
  .mainAttributeContainer {
      display: flex;
      align-items: baseline
  }

h4 {
    margin:0
}